page-login {

  .buttonLogin
  {
    background-color : #394694;

  }

  .buttonRegister
  {
    background-color : #F79E4C;

  }
  .buttonFacebook
  {
    background-color : #394694;
    float:left;
    width:40%;
  }
  .buttonGoogle
  {
    background-color : #F83F42;
    float:right;
    width:40%;

  }
  .socialMediaButtons
  {
    display:flex;

  }

  .image-cropper {
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px auto 0 auto;
  }

  img {

  }

}
