page-login {
  button{
    border-radius: 20px !important;
  }

  .socialMediaButtons
  {
    display:flex;

  }

  .image-cropper {
    width: 140px;
    height: 140px;
    position: relative;
    overflow: hidden;
    border-radius: 20%;
    margin: 10px auto 0 auto;
  }
  img {
    margin: 0 auto;
    height: 100%;
    min-width: 100%;
  }

  h2{
    color: #512da8;
  }

}
