<!-- Generated template for the UserInfoComponent component -->
<div *ngIf="user">

  <ion-avatar [ngClass]="{'custom-background': isMenu}">
    <div class="image-cropper">
        <img [src]=" user.photo || 'assets/imgs/no-photo.png' ">
    </div>
    <h4 text-left>{{user.name}}</h4>
    <h6 text-left>{{user.email}}</h6>
  </ion-avatar>

  <div class="ind">
    <button *ngIf="!user.independent" ion-button full clear icon-right detail-none menuClose margin-vertical (click)="onBecameIndependent()">
      Tornar-me um Autônomo
      <ion-icon name="people" item-end></ion-icon>
    </button>
  </div>

</div>
