user-info {
  p {
      margin-top: -10px;
  }

  .image-cropper {
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px auto 0 auto;
  }

  img {
      margin: 0 auto;
      height: 100%;
      min-width: 100%;
  }

  .custom-background {
    background-color: #555;
}

  ion-avatar {
    padding-top: 10px;
    padding-bottom: 35px;
  }

}

