page-home {

  ion-col span.button-inner div{
    color: black;
  }


  ion-icon[name="calendar"]{
    color: rgb(197, 2, 2);
  }

  ion-icon[name="clock"]{
    color: rgb(0, 111, 155);
  }
  ion-card-content{
    margin-top: 1%;
  }

  button{
    margin:0px !important;
  }

}
