<ion-header>
  <custom-header [title]="title"></custom-header>
</ion-header>

<ion-content padding>
  <h3>Meus Agendamentos</h3>

  <ion-card *ngFor="let schedule of schedules | async">

    <ion-item>
      <h1>{{schedule.nameIndependent}}</h1>
      <hr>
    </ion-item>

    <ion-row>

      <ion-col>
        <button ion-button clear  icon-left>
            <ion-icon name="clock"></ion-icon>
            <div>{{schedule.time}}</div>
        </button>
      </ion-col>

      <ion-col text-center center>
        <button ion-button clear icon-left>
          <ion-icon name="calendar"></ion-icon>
          <div>{{schedule.date}}</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>


  <h3 *ngIf="setNote">Minha Agenda </h3>

  <ion-card *ngFor="let notes of notebook | async">

    <ion-item>
      <h2>Nome do Cliente : {{notes.nameClient}}</h2>
      <hr>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button clear icon-left>
            <ion-icon name="clock"></ion-icon>
            <div>{{notes.time}}</div>
        </button>
      </ion-col>

      <ion-col text-center center>
        <button ion-button clear icon-left>
          <ion-icon name="calendar"></ion-icon>
          <div>{{notes.date}}</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>
