<ion-header>

  <ion-navbar>
    <ion-title>Agendamento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-calendar [(ngModel)]="date"
    (onSelect)="onSelect($event)"
    [type]="type"
    [format]="'YYYY-MM-DD'">
  </ion-calendar>

  <ion-item *ngFor="let hourUnavailable of hoursUnavailable | async">
      <button ion-button block >{{hourUnavailable.time}}</button>
  </ion-item>

  <ion-item>
    <ion-label>Horários Disponiveis</ion-label>
    <ion-select  [(ngModel)]="time">
      <ion-option *ngFor="let hourAndMinute of hoursAndMinutes" [value]="hourAndMinute">{{hourAndMinute}}</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button block (click)="confirmSchedule()">Agendar</button>

</ion-content>
